.dark {
    background-color: #222;
    color: rgb(156, 156, 156);

    .chartGrid {
        stroke: rgba(228, 228, 228, 0.219)
    }

    .table {
        background-color: #222;

        .tableCell {
            color: gray;
        }
    }

    .navbar {
        color: #999;
        border-color: #333;

        .search {
            border-color: gray;
        }
    }

    .sidebar {
        background-color: #222;
        border-color: #333;

        hr {
            border-color: #333;
        }

        ul {
            li {
                &:hover {
                    background-color: #333;
                }
            }
        }
    }

    .datatable {
        .dataGrid {
            color: gray;
            border: none;
        }

        .viewButton {
            color: rgb(84, 84, 161)
        }

        .deleteButton {
            color: rgb(190, 91, 111);
        }
    }

    .viewButton {
        color: rgb(84, 84, 161)
    }

    input {
        background-color: transparent;
        color: #fff;
    }

    select {
        background-color: transparent;
        color: #fff;
    }
}